<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="/site.css">
    </head>
    <body class="bodyClass bodyImg">
         <div class="error">
        <main>
        <h1>there is some error.</h1>
       <p>{{err}}</p>       
       </main>
      </div>
    </body>
</html>