<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Leader Board</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link href="site.css" type="text/css" rel="stylesheet" />
</head>

<body class="bodyImg">
<header>
     <img class="imgSize" src="/image/cool-geek-logo-vector-2088780.png" alt="imgDescription">
</header>
<div class="card winnersDashboard">
    {{!-- <h4>Start Your Game And Test Your Knowledge.You have a chance to make your position.</h4> --}}
    <div class="h4Div">
        Start Your Game And Test Your Knowledge.You have a chance to make your position.
    </div>
    <form action="/dashboard" method="GET">
    <div class="startGameBtn"> <button type="submit" class="button submit">Start Your Game</button></div>
   </form>
    <ul>
            <li class="winnerli">
                {{#each winnerData}}
                <div class="card winnerList">
                    <div class="listMain">
                                <div class="winner"><img src="/image/userImg2.png" alt="imgDesc" class="userImgSize"></div>
                                <div class="winnerdetails">
                                    <div class="h5Div">Name: {{this.playerid}}</div>
                                     <div class="h6Div">Score: {{this.totalMarks}}</div>
                                </div>
                                <div class="trophy"><img src="/image/trophy-img1.png" alt="imgDesc" class="trophyImgSize"></div>
                    </div>
                </div>
                 {{/each}}
            </li>      
    </ul>
</div>
<div class="mt-4 text-center">
want to log out? <a href="/logout">logout</a>`
</div>
</body>

</html>