<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>My Login Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="site.css">

<script src="https://apis.google.com/js/platform.js" async defer></script>
 {{!-- <meta name="google-signin-client_id" content="66110250402-v3igt2ch7cenekbt04g25v94065c6kth.apps.googleusercontent.com"> --}}
 <meta name="google-signin-client_id" content="446457719578-79ej4j039phvviac052di40ugqh5q572.apps.googleusercontent.com">
</head>
<body class="my-login-page bodyImg">
	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="card fat forgetPass">
						<div class="card-body">
							<h4 class="card-title">Login</h4>
							{{!-- <form id="loginForm" action="/dashboard" method="Post" class="my-login-validation" novalidate=""> --}}
							{{!-- <form id="loginForm" action="/leaderBoard" method="Post" class="my-login-validation" novalidate=""> --}}
							<form id="loginForm" action="/login" method="Post" class="my-login-validation" novalidate="">
								<div class="form-group">
									<div class = 'error'>
										{{#if error}}
											<p class="errorText">{{error}}</p>
										{{/if}}
									</div>
									<label for="userName">User Name</label>
									<input id="userName" type="userName" class="form-control" name="userName" value={{data.userName}}>
								</div>

								<div class="form-group">
									 <label for="password">Password
										<a href="forgetPassword" class="float-right">
											Forgot Password?
										</a>
									</label> 
									<input id="password" type="password" class="form-control" name="password">
								</div>
								<div class="form-group m-0">
									<button id="btnLogin" type="submit" class="btn btn-primary btn-block">
										Login
									</button>
									<div class="mt-4 text-center">
									Don't have an account? <a href="register">Create One</a>
								    </div>
									 <div class="g-signin2" data-onsuccess = "onSignIn"></div>
								</div>
								
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="/gmailSignIn.js"></script>
</body>
</html>

