<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>Register Player</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="site.css">
</head>
<body class="my-login-page bodyImg">
	<section>
		<div class="container h-100">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
					<div class="card fat playerReg">
						<div class="card-body">
							<div class="card-title h4Div">Register</div>
							<form method="POST" id = "register-form" class="my-login-validation" novalidate="">
								<div class="form-group">
									<div class = 'error'>
										{{#if error}}
											<p class="errorText">{{error}}</p>
										{{/if}}
									</div>
									<div class = 'success'>
										{{#if success}}
											<p class="errorText">{{success}}</p>
										{{/if}}
									</div>
									<label for="username">User Name</label>
									<input id="username" type="text" class="form-control" name="username" value={{data.username}}>
								</div>

								<div class="form-group">
									<label for="email">E-Mail Address</label>
									<input id="email" type="email" class="form-control" name="email" value={{data.email}}>
								</div>

								<div class="form-group">
									<label for="password">Password</label>
									<input id="password" type="password" class="form-control" name="password">
								</div>
								<div class="form-group">
									<label for="confirm_password">Confirm Password</label>
									<input id="confirm_password" type="password" class="form-control" name="password">
								</div>								
								<div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block">
										Register
									</button>
								</div>
								<div class="mt-4 text-center">
									<span class="txtLabel">Already have an account?</span><a href="login" class="forgetPass">Login</a>
								</div>
							</form>
						</div>
					</div>
					</div>
			</div>
		</div>
	</section>
	<script src='registerValidation.js'></script>
</body>
</html>