<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Result</title>
    <link href="/site.css" rel="stylesheet">
</head>
<body class="bodyClass">
    <div class="content">
        <h1>Your Result</h1>
        <main>
            <p>this is your rsult</p>
           <a href="/">Login</a>
        </main>
    </div>
</body>
</html>

