<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Result</title>
    <link href="/site.css" rel="stylesheet">
</head>
<body>
  <header>
      {{!-- <h2>Logo</h2>  --}}
    <h2><p><a href="/">Want to play another game.</a></p></h2>
</header>
    <div class="card">
                 <div class="row">                 
                   <div class="Question">
                    <span class="pull-left labelBorder">Quiz Result</span>
                    <div class="clearfix"></div>
                         <h5>This is the result of your current quiz</h5>  
                        <div>
                            <ul class="ulClass">
                              {{#each data}}
                                <li class="liClass">
                                   <span>Question Number: {{this.questionId}} Question Level: {{this.level}}Marks: {{this.marks}}
                                   </span>
                                 </li>
                                {{/each}}
                            </ul>
                            <h5>Your total marks: {{totalMarks}}</h5>
                        </div>
                    </div>
                   </div>

    </div> 
</body>
</html>

