<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Demo</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link href="style.css" type="text/css" rel="stylesheet" />
</head>

<body>
<header>
    <h2>Logo</h2>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="sidebar">
            <div class="loginInfo row">
                <div class="col-md-3">
                    <span class="UserIco"><i class="glyphicon glyphicon-user" ></i></span>
                </div>
                <div class="col-md-8">
                    <label>Have an Account ?</label>
                    <button type="button" class="button submit">Login</button>
                </div>
             </div>
             <button type="button" class="button create"><span class="glyphicon glyphicon-plus-sign"></span> Create a New Quiz</button>
             <ul class="leftnav">
                 <li><span><i class="glyphicon glyphicon-search"></i></span> Find a Quiz</li>
                 <li><span><i class="glyphicon glyphicon-search"></i></span> Find a Quiz</li>
                 <li><span><i class="glyphicon glyphicon-search"></i></span> Find a Quiz</li>
             </ul>
            
        </div>
    
    <div class="col-md-7">
        <div class="QuizDetails">
            <div class="card">
                <div class="row">
                    <div class="col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="https://cf.quizizz.com/img/logos/new/logo_placeholder_sm.png">
                          </a>
                    </div>
                    <div class="col-md-9">
                        <h4>
                            Quiz Details
                        </h4>
                        <ul>
                            <li><span><i class="glyphicon glyphicon-search"></i></span> Find a Quiz</li>
                            <li><span><i class="glyphicon glyphicon-search"></i></span> Find a Quiz</li>
                            <li><span><i class="glyphicon glyphicon-search"></i></span> Find a Quiz</li>
                            <li><span><i class="glyphicon glyphicon-search"></i></span> Find a Quiz</li>
                        </ul>
                        <hr />
                    </div>
                </div>
                <div class="userEditInfo">
                    <span class="UserIco Black"><i class="glyphicon glyphicon-user"></i></span>
                    <div>
                        <h6>1 year ago</h6>
                        <a href="" class="linkText">reference Link</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="Question">
                    <span class="pull-left labelBorder">Question 1</span>
                    <span class="pull-right labelBorder"><i class="glyphicon glyphicon-time"></i>Timer</span>
                    <div class="clearfix"></div>
                    <h5>
                        Q. How many races are available in Final Fantasy XVI?
                    </h5>
                    <div class="Answer">
                        <span>Answer Choices</span>
                    </div>
                    <ul>
                        <li>
                            <label class="radioMain">One
                                <input type="radio" checked="checked" name="radio">
                                <span class="checkmark"></span>
                              </label>
                        </li>
                        <li>
                            <label class="radioMain">One
                                <input type="radio" checked="checked" name="radio">
                                <span class="checkmark"></span>
                              </label>
                        </li>
                        <li>
                            <label class="radioMain">One
                                <input type="radio" checked="checked" name="radio">
                                <span class="checkmark"></span>
                              </label>
                        </li>
                        <li>
                            <label class="radioMain">One
                                <input type="radio" checked="checked" name="radio">
                                <span class="checkmark"></span>
                              </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="NextBtn pull-right">
                <button type="button" class="button create">Previous</button>
                <button type="button" class="button submit">Next</button>
                
            </div>
        </div>
    </div>
    <div class="col-md-2">
        Right Sec
    </div>
    </div>
</div>
<div class="card winnersDashboard">
    <h4>Start Your Game</h4>
    <div class="startGameBtn"> <button class="button submit">Start Your Game</button></div>
   
    <div class="card winnerList">
        <div class="listMain">
            <div><img src="userImg2.png" alt="" class="userImgSize"></div>
            <div class="winnerdetails">
                <h4>Rank 1</h4>
                <h5>Name</h5>
                <h6>Score</h6>
            </div>
            <div><img src="trophy-img1.png" alt="" class="trophyImgSize"></div>
        </div>
    </div>
    <div class="card winnerList">
        <div class="listMain">
            <div><img src="userImg2.png" alt="" class="userImgSize"></div>
            <div class="winnerdetails">
                <h4>Rank 2</h4>
                <h5>Name</h5>
                <h6>Score</h6>
            </div>
            <div><img src="trophy-img1.png" alt="" class="trophyImgSize"></div>
        </div>
    </div>
    <div class="card winnerList">
        <div class="listMain">
            <div><img src="userImg2.png" alt="" class="userImgSize"></div>
            <div class="winnerdetails">
                <h4>Rank 3</h4>
                <h5>Name</h5>
                <h6>Score</h6>
            </div>
            <div><img src="trophy-img1.png" alt="" class="trophyImgSize"></div>
        </div>
    </div>
</div>
</body>

</html>