<!DOCTYPE html>
<html>
    <title>Main Page of the game</title>
    

<main class='container'>
    <h1>Enter the game</h1>
    
    <a href="login" class="button">Enter Game</a>
   
    
</main>
    
</html>