<!DOCTYPE html>
<html>
    <title>Main Page of the game</title>
    

<main class='container'>
    <h1>Enter the game2</h1>
    
    <button class ="entergamebutton" onclick="/login/loginmain.html">Button</button>
   
    {{{body}}}
</main>
    
</html>