<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Palindrome Results!</title>
    <link rel="stylesheet" href="/public/site.css"/>
  </head>
  <body>
    <h1 class = "haa">The Palindrome Results!</h1>
    <main>
    <p class = {{class}}>  {{pa}} </p>
    <p>{{res}}</p>
    <a href ='/'>Try another palindrome</a>
  </main>
  </body>
</html>