.error{
    color: red;
    font-weight: bold;
}

.preScore{
    color: rgba(40, 167, 69, 0.25);
    font-weight: bold;
}

a{
    color: #fff;
}

.Question{
      margin-left: 1%;
  }
.expired{
    color: red;
    font-weight: bold;
    font-size:large;
    
}
 ul.ulClass li{
      display:inline-block !important ;
      width:49% !important;
  }

  #clockdiv{ 
    font-family: sans-serif; 
    color: #fff; 
    display: inline-block; 
    vertical-align: middle;
    font-weight: 100; 
    text-align: center; 
    font-size: 30px; 
    visibility:visible;
} 
.smalltext{ 
    padding-top: 5px; 
    font-size: 16px; 
} 
.divblock{
    /* height: 50px; */
    padding: 2px;
     margin: 1%; 
     width: 50px; 
     /* display: inline-block; 
    vertical-align: middle; */
    background-color:#77cc6d ;
    opacity: .75;
}
.btn-primary{
    color:#fff;
    background-color: #77cc6d;
    border-color: #77cc6d;
    opacity: .75;

}
.form-control:focus {
    border-color: #77cc6d;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}
.btn-primary:hover{
    color:#fff;
    background-color: #77cc6d;
    border-color: #77cc6d;
}
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle{
    color:#fff;
    background-color: #77cc6d;
    border-color: #77cc6d;
}
.divButton{
    margin-top: 20px;
}
.mainDiv{
    margin-top: 20px;
}
.navBar{
    background-color: lightskyblue;
}
.button{border-radius: 3px;
    padding: 8px 15px;
    font-size: 12px;
    letter-spacing: 2px;
    color: #fff!important;
    box-shadow: 0 -2px rgba(0,0,0,.1) inset;
    -moz-box-shadow: 0 -2px rgba(0,0,0,.1) inset;
    -webkit-box-shadow: 0 -2px rgba(0,0,0,.1) inset;
    -o-box-shadow: 0 -2px rgba(0,0,0,.1) inset;
    transition: opacity .3s linear;
    -moz-transition: opacity .3s linear;
    -webkit-transition: opacity .3s linear;
    opacity: .75;
    border: none;
    letter-spacing: 1;
}
ul li{
    list-style: none;
}
.button:hover,.button:focus{
    outline: none;
    opacity: 1;
}
.submit{
    background: #77cc6d;
    min-width: 95px;
}
.row{
    display: flex;
}
.create{
    background: #fff;
    margin: 30px 15px 0 20px;
    border: 1px solid #77cc6d;
    box-shadow: none !important;
    color: #77cc6d !important;
    padding: 7px 15px !important;
}
/* .create:hover{
    box-shadow: 0 -2px rgba(0,0,0,.1) inset;
    transition: 0.3s fade-in;
    zoom: 1.1;
} */
.UserIco{
    border: 1px solid #77cc6d;
    padding: 5px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 20px;
}
.UserIco i{
    vertical-align: middle;
}
.userEditInfo{
    display: flex;
    align-items: center;
}
.userEditInfo h6{
    margin-bottom: 0;
}
.UserIco.Black{
    font-size: 10px;
    width: 22px;
    height: 22px;
    border: 1px solid #000;
    margin-right: 5px
}
.UserIco.Black i{
    vertical-align: top;
}
.sidebar{
    display: block;
    padding: 20px 0px 20px 0px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
    height: 100vh;
    max-width: 230px;
}
header{
    background: #000;
    color: #fff;
    height: 50px;
    vertical-align: middle;
    padding: 0 20px;
}
header h2{
    margin: 0;
}
.card{
    background: #fffdfd;
    width: 100%;
    display: block;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 14px;
    box-shadow: 0px 0px 4px #bbb9b9;
}
.card:first-child{
    margin-top: 15px;
}
.thumbnail{
    background: #eaeaea;
    margin-bottom: 0;
    min-height: 135px;
}
h4{
    color: #333;
    font-size: 15px;
}

#clockdiv{ 
    font-family: sans-serif; 
    color: #fff; 
    display: inline-block; 
    font-weight: 100; 
    text-align: center; 
    font-size: 30px; 
    
} 

.smalltext{ 
    padding-top: 5px; 
    font-size: 16px; 
} 
.Answer{
    border-bottom: 1.5px solid #ccc;
    position: relative;
    margin: 20px 0 10px 0;
}
.Answer span{
    position: absolute;
    top: -10px;
    left: 15px;
    color: darkgrey;
    font-size: 12px;
    background: #fff;
    padding: 2px 5px;
}
.labelBorder{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px 10px;
}
.labelBorder i{
    margin-right: 5px;
    display: inline-block;
    vertical-align: text-top;
}
.card li{
    list-style: none;
    width: 49%;
    display: inline-block;
    margin-top: 12px;
    color: #848282;
    font-size: 12px;
}
.card ul{ padding-left: 5px;}
.radioMain {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-left: 30px;
    margin-bottom: 12px;
    color: #333;
  }
  
  .radioMain input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid #ccc;
  }
  .radioMain:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .radioMain input:checked ~ .checkmark {
    background-color: #77cc6d;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .radioMain input:checked ~ .checkmark:after {
    display: block;
  }
  .radioMain .checkmark:after {
       top: 6px;
      left: 6px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
  .linkText{
      color: #428bca;
      font-size: 10px;
  }
  .leftnav li{
    padding:8px 12px;
    color: #848282;

}
.leftnav li span{
    margin-right: 5px;
}
.leftnav li:hover{
    background: #f1f5ef;
}
.loginInfo{
    margin: 0 2px;
}
.leftnav{
    margin-top: 20px;
}
ul{
    padding-left: 0;
  }
label{
    font-weight: normal;
}
h5{
    margin-top: 15px;
}
.thumbnail img{
    max-width: 120px;;
}