<!DOCTYPE html>
<html><head>
    <title>The Best Palindrome Checker in the World!</title>
</head>

<div id="palindromeForm">
    <form method="POST" id = "form_static">
    <label>Loginid:</label>
    <input type="text" placeholder="Login id">
	<br><br>
	<label>Password:</label>
	<input type="password" placeholder="Password"><br><br>
    <button id="submit" type="submit" onclick="login()">Login</button>
	<a href="register.handlebars" class="button">SignUp</a>
    </form>
</div>
</html>