.is-palindrome{
    color: #0000FF;
}

.not-palindrome{
    color: #FF0000;
}
.header {
    margin: auto;
    width: 60%;
    border: 3px solid rgb(255, 0, 0);
    padding: 10px;
    text-align: center;
    font-style: italic;
     
}

.container{
    padding: 12%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    border: 8px solid;
    background-color: rgb(230, 225, 230);
    color:rgb(21, 31, 21);
    overflow: hidden;

}

.para-info {
    font-size: x-large;
    color: rgb(48, 3, 38);
  }

.para-intro
{
 font-size: large;
}

.para-check
{
    font-style: italic;
}

.clickbutton{
    background-color: lightcoral;
}
footer{
    text-shadow: lightcoral;
    background-color: lightslategrey;
    color: lightgreen;
}
.para-info2{
    color: magenta;
}